.container {
  margin: 0;
  max-width: 100%;
  width: 100%;

}

.ia_detailsRepository {
  padding: 20px;
}

.ia_ico_details{
  background-image: url("/assets/images/url_exterior.png");
  height: 24px;
  width: 24px;
  position: absolute;
  margin: 5px 0px 0px 5px;
}

.ia_detailsRepository .ia_name{
  font-size: 24px;
  color: #E86313;
  font-weight: 400;
  padding-right: 24px;
  font-weight: 700;
}

.ia_detailsRepository .ia_owner{
  color: #000000;
  font-weight: 700;
  font-size: 12px;
}

.ia_detailsRepository .ia_avatar{
  width: 184px;
  height: 184px;
  border-radius: 50%;
  float: left;
}

.ia_detailsRepository .ia_card{
  float: left;
  width: Calc(100% - 504px);
  margin-left: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.ia_detailsRepository .ia_description{
  margin-top: 10px;
}

.ia_detailsRepository .ia_row_icons {
  margin: 20px 0;
  width: 275px;
  height: 72px;
  color: #E86313;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.ia_detailsRepository .ia_row_icons>div {
  float: left;
  margin-right: 25px;
}

.ia_detailsRepository .ia_row_icons>div:last-child {
  margin-right: 0px;
}
.ia_detailsRepository .ia_detail_ico{
  width: 50px;
  height: 50px;
  white-space: nowrap;
  text-align: center;
  line-height: 40px;
}

.ia_moreInfo{
  margin-left: 20px;
  width: 280px;
  float: left;
  border-left: 1px solid #646464;
  padding-left: 20px;
}

.ia_moreInfo .ia_info{
  color: #E86313;
  font-weight: 700;
  margin-bottom: 32px;
  margin-top: 5px;
}

.ia_moreInfo .ia_info_avatar{
  margin-bottom: 32px;
  margin-top: 5px;
}

.ia_moreInfo .ia_info_avatar img{
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 50%;
}
@media (max-width: 850px){
  .ia_detailsRepository .ia_card{
    width: Calc(100% - 395px);
  }

  .ia_moreInfo{
    width: 171px;
  }
}

@media (max-width: 700px){
  .ia_detailsRepository .ia_card{
    width: Calc(100% - 204px);
  }

  .ia_moreInfo{
    border-left: none;
    padding-left: 0;
    margin-left: 0;
    border-top: 1px solid #646464;
    padding-top: 20px;
    width: 100%;
  }
}

@media (max-width: 576px){
  .container{
    text-align: center;
    align-content: center;
  }

  .ia_detailsRepository .ia_card{
    float: none;
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
  }

  .ia_detailsRepository .ia_avatar{
    float: none;
    width: 98px;
    height: 98px;
    margin: auto;
  }

  .ia_detailsRepository .ia_row_icons {
    margin: 20px auto;
  }

  .ia_moreInfo .ia_info{
    margin-bottom: 24px;
  }
}
